
/*Rodapé da página*/
footer{
    width: 100%;/*Rodapé ocupando 100% de largura da página*/
    display: flex;/*Flexiblizando o conteúdo interno do footer*/
    flex-direction: row;/*Estabelecendo um direção alinhada dos blocos internos do footer */
    
   
}
/*Título do tipo h1 do footer lado esquerdo*/
footer h1{
    text-align: center;/*Centralizando o título*/
    font-family: 'fonteDotitulo';/*estabelenco fonte: 'fonteDotitulo' para o título*/
}
/*Div esquerda do footer*/
#footerLeft{
    background-color: black;/*estabelencedo cor de fundo preta para o footer esquerdo*/
    color: white;/*estabelecendo cores de letras brancas para o footer esquerdo*/
    width: 95%;/*estabelenco largura de 95% da página para o footer esquerdo*/

}
/*Conteúdo do footer*/
#footerLeftColumns{
   
    display: flex;/*Flexiblizando as 4 colunas*/
    flex-direction: row;/*Alinhando as quatro colunas*/
    margin-left: 10%;/*Estabelecendo 10% de distanciamento do lado esquerdo*/
    gap: 15%;/*espaçamento entre as colunas*/
}
/*Conteúdo das linhas das colunas*/
.columFooter ul li{
   list-style: none;/*Retirando os pontinhos das listas*/
   margin-top: 50px;/*espaçamento entre as linhas*/
       
}
/*Div para a estilização dos ícones*/
#footerLeftButtons table{
    margin-left: 30%;/*distancia da div para a margem esquerda dos ícones*/
    margin-top: 30px;/*distância em relação ao topo dos ícones*/
       
}
/*div do conteúdo dos ícones*/
#footerLeftButtons table tr th{
    padding: 10px;/*estabelecendo espaçamento entre os ícones*/

}
/*Div direita do footer*/
#footerRigth{
    background-color: rgb(63, 4, 63);/*Cor de fundo da div direita do footer*/
    width: 27%;/*largura do footer da direita*/
}

/*Input do tipo text do footer direito*/
#footerRigth input[type='text']{
    padding: 10px;/*espaçamento interno do input*/
    width: 300px;/*largura do input*/
    margin-top: 70px;/*distanciamento em relação ao topo do input*/
    margin-left: 30px;/*distancimento em relação a margem esquerda do input*/
}
/*Título do tipo h3 do footer direito*/
#tituloRodepeRight{
    margin-top: 25px;/*distanciamento em relação ao topo do título*/
    margin-left: 30px;/*distancimento em relação a margem esquerda do título*/
    font-size: 20px;/*fonte da letra do título*/
    text-align: justify;/*título justificado*/
    color: white;/*cor da letra do título*/
}

/*paragrafo do tipo h3 do footer direito*/
#paragrafoRodapeRight{
    margin-top: 50px;/*istanciamento em relação ao topo do paragrafo*/
    margin-left: 30px;/*distancimento em relação a margem esquerda do paragrafo*/
    font-size: 20px;/*fonte da letra do paragrafo*/
    text-align: justify;/*paragrafo justificado*/
    color: white;/*cor da letra do paragrafo*/
}
/*Determinar fonte baixado na internet*/


